*{
    margin: 0;
    padding: 0;
}
.sub {
  border-radius: 40px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  text-align: center;
  background-image: url(./p.webp);
  height: 100vh;
}
.fname{
    border-radius: 20px;
    width: 20%;
    height:30px;
    
}
.input{
    border-radius: 60px;
    width: 35%;
    
}
.sname{
    color: red;
    justify-content: center;
    font-size: larger   ;
}
body{
    background-image: url(./p.webp);
}
.App{
    align-items: center;
    display: flex;
    height: 100vh;
}

.form{
    width: 40%;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    padding:  0;
}
form{
    display: flex !important;
    justify-content: center;
    padding: 50px 0;
    align-items: center;
}
form h1{
    width: 100%;
    margin: 20px 0;
}

 form > div{
    width: 70%;
}
form input{
    width: 100% !important;
}
form button{
    width: 80%;
    margin: 0 auto;
}
/*  */

.Users{
    width: 80%;
    background-color: #fff;
    padding: 30px;
    margin: 0 auto;
    border-radius: 20px;
}
.Users table{
    border-collapse: collapse;
}
.Users table th{
    padding: 10px 0;
    background-color: #f5f7f9;
    border: none;
    border-bottom: 1px solid #a8bac955 !important;
}
.Users table td{
    border: none;
    border-bottom: 1px solid rgba(156, 156, 156, 0.333);
}
.adduser{
    margin: 20px 0;
}
.adduser a{
    text-decoration: none;
}
.Users table tbody tr:nth-child(odd) td{
    background-color: #eff7ff;
}
.Users table tbody tr:hover td{
    background-color: #eff7ff;
}
/*  */
.editvalue{
    width: 50%;
    margin: 0 auto;
}
.edit_btns{
    display: flex;
    gap: 20px;
}
.edit_btns > button{
    width: 50%; 
    margin: 0;
}
.edit_btns a{
    width: 50%;
    text-decoration: none;

}
.edit_btns a button{
    width: 100%;
}
.editTable{
    backdrop-filter: blur(15px);
    border-radius: 20px;
}